@main("chess", "images/favicon.png")	{
@defining( Array("h","g","f","e","d","c","b","a"), Array("white", "black") ) { case (rank, color) =>

	<div class="board">
		
		@for(y <- 0 to 7) {
			<div class="board-row">
				<div class="board-rank">@rank(y)</div>
				
				@for(x <- 0 to 7) {
					<div id="@rank(y)@(x+1)" class="board-square @color( ((2*y+x) + y%2) % 2  )"></div>
				}
			</div>
		}
		
		<div class="board-file-row">
			<div class="board-rank"></div>
			
			@for(x <- 1 to 8) {
				<div class="board-file">@x</div>
			}
		</div>
	</div>




	<script>webSocketUrl = "@routes.Chess.socket().webSocketURL(request)";</script>
	<script src="@routes.Assets.at("javascripts/chess.js")" type="text/javascript"></script>
}
}
